@import "~Styles/settings.scss";

.Button {
  min-width: 150px;
  background: transparent;
  border: 1px solid $text-main;
  outline: none;
  color: $color-text-lighter;
  height: 40px;
  border-radius: 25px;
  letter-spacing: 2px;
  &:hover {
    color: $color-text-lighter-hover;
    border-color: $color-text-lighter-hover;
  }
  &--active {
    color: #fff;
    border-color: #fff;
  }
}
