@import "~Styles/_media.scss";

.Music {
  height: 100%;
  margin: 10px 50px;
  margin-bottom: 80px;
  &__grid {
    border: 1px solid transparent;
    height: 250px;
    padding: 0;
    margin-top: 20px;
    @include hy-media-handheld() {
      height: 120px;
    }
  }
}
