@import "~Styles/settings.scss";

$profile-image-dimension: 128px;

.ProfileHeader {
  display: flex;
  // flex-direction: column;
  align-items: center;
  // background: url("Images/abs-iphone.jpg") no-repeat center;
  // background-size: cover;
  // background-position: 0 -280px;
  height: 140px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.096);
  &__image {
    display: block;
    margin-left: 24px;
    img {
      width: $profile-image-dimension;
      height: $profile-image-dimension;
      border-radius: 50%;
      object-fit: cover;
      object-position: -50px;
    }
  }
  &__details {
    margin-left: 24px;
    h5 {
      color: $color-text-darker;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.5;
    }
    &__username {
      width: auto;
      margin-right: 16px;
      font-size: 12px;
    }
    &__fullname {
      width: auto;
    }
    &__description {
      width: auto;
    }
  }
  &__metas {
    //border: 1px solid $color-text-dark;
    display: flex;
    margin-left: 32px;
    &__meta {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:last-child {
        border-right: none;
      }
      &__value {
        font-size: 24px;
        color: $color-text-lighter;
      }
      &__label {
        font-size: 14px;
        color: $color-text-darker;
        font-weight: 300;
        margin-top: -5px;
      }
    }
  }
}
