@import "~Styles/settings.scss";
$border: 1px solid rgba(214, 214, 214, 0.082);

.NavMenu {
  background-color: rgba(89, 66, 66, 0.027);
  border-bottom: $border;
  &:first-child {
    border-top: $border;
  }
  a {
    @extend %hover-transition;
    display: block;
    color: $text-main;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    font-family: $main-font;
    font-size: $font-md;
    font-weight: 300;
    &:hover {
      color: rgba(255, 255, 255, 0.747);
      background-color: rgba(0, 0, 0, 0.062);
    }
    i {
      font-size: $font-sm;
      margin-right: 10px;
    }
  }
}
