%no-padding {
  padding: 0;
}

%full-height {
  height: 100%;
}

%npfh {
  @extend %no-padding;
  @extend %full-height;
}
// 594242
$color: blue;

$background-1: linear-gradient(rgb(30, 51, 100), rgb(3, 6, 11) 85%);
$background-2: linear-gradient(#aa6962, #4a3242 85%);

.hayum {
  background: $background-2;
  @extend %npfh;
  &__sidebar {
    @extend %npfh;
    background: rgba(0, 0, 0, 0.5);
    color: hsla(0, 0%, 100%, 0.6);
    &--is-mobile {
      position: relative;
      height: 50px;
    }
  }
  &__main {
    @extend %npfh;
  }
}
