%no-padding {
  padding: 0;
}

%full-height {
  height: 100%;
}

%npfh {
  @extend %no-padding;
  @extend %full-height;
}

$color: blue;

.hayum {
  background: transparent;
  overflow: hidden;
  min-width: 900px;
  @extend %npfh;
  &__sidebar {
    @extend %npfh;
    background: rgba(0, 0, 0, 0.45);
    color: hsla(0, 0%, 100%, 0.6);
    &--is-mobile {
      position: relative;
      height: 50px;
    }
  }
  &__main {
    @extend %npfh;
    overflow-y: scroll;
    > div {
      @extend %full-height;
      > div {
        @extend %full-height;
      }
    }
  }
  &__player {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #333333;
    bottom: 0;
  }
}
