@import "~Styles/bg-variants.scss";
@import "~Styles/_media.scss";
@import "~Styles/settings.scss";

$player-height: 90px;

%npfh {
  @extend %no-padding;
  @extend %full-height;
}

$color: blue;

.hayum {
  overflow: hidden;
  @extend %npfh;
  // background: url("Images/abs-guitar.jpg") no-repeat center;
  // background-size: cover;
  @include populate-bg-variants();
  background-color: black;
  user-select: none;
  > div {
    @extend %npfh;
  }
  &__sidebar {
    @extend %npfh;
    @include hy-media-handheld() {
      display: none;
    }
    background: rgba(0, 0, 0, 0.45);
    color: hsla(0, 0%, 100%, 0.6);
    &--is-mobile {
      position: relative;
      height: 50px;
    }
  }
  &__main {
    @extend %npfh;
    margin-bottom: $player-height;
    overflow-y: scroll;
    > div {
      @extend %full-height;
      > div {
        @extend %full-height;
      }
    }
  }
  &__player {
    height: $player-height;
    position: fixed;
    background-color: #333333;
    bottom: 0;
    width: 100%;
  }
}
