$main-green-color: #00af96;
$main-header-text-color: #666;
$main-text-color: $main-header-text-color;

$main-font: "Titillium Web", "Helvetica Neue", sans-serif;

$font-xsm: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;

// text colors
$text-darker: rgba(240, 240, 240, 0.562);
$color-text-darker: rgba(240, 240, 240, 0.562);
$color-text-lighter: rgba(240, 240, 240, 0.795);
$color-text-lighter-hover: rgba(252, 252, 252, 0.842);
$text-darker-hover: rgba(255, 255, 255, 0.904);
$text-main: hsla(0, 0%, 100%, 0.6);
$color-placeholder: hsla(0, 15%, 79%, 0.699);
$color-text-dark: rgba(19, 18, 19, 0.79);

%hover-transition {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

%line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}

%no-padding {
  padding: 0;
}

%no-margin {
  padding: 0;
}

%no-pad-margin {
  @extend %no-padding;
  @extend %no-margin;
}

%full-height {
  height: 100%;
}

%hy-form-label {
  color: $color-text-lighter;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-weight: 400;
}