$main-green-color: #00af96;
$main-header-text-color: #666;
$main-text-color: $main-header-text-color;
$main-font: "Titillium Web", "Helvetica Neue", sans-serif;
$font-xsm: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
