@import "~Styles/settings.scss";

.Sidebar {
  display: block;
  position: relative;
  color: $main-text-color;
  height: 100%;
  &__search {
    margin-top: 60px;
    position: relative;
    span {
      margin-right: 10px;
      display: inline-block;
      &:last-child {
        position: absolute;
        right: 10px;
      }
    }
  }
  &__logo {
    padding-top: 10px;
    div {
      background: url("Images/hy_logo.png") no-repeat center;
      height: 30px;
      width: 100%;
      background-size: contain;
    }
  }
  &__footer {
    position: absolute;
    display: block;
    bottom: 110px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: $text-darker;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $text-darker-hover;
    }
    i {
      font-weight: bold;
    }
    span {
      margin-left: 10px;
    }
    a {
      color: $color-text-lighter;
    }
  }
}
