@import "~Styles/settings.scss";

.Sidebar {
  display: block;
  position: relative;
  color: $main-text-color;
  height: 100%;
  &__logo {
    background: url("Images/hy_logo.png") no-repeat center;
    width: 100%;
    height: 20px;
    background-size: contain;
    margin: 10px 0;
  }
  &--is-mobile {
    position: absolute;
    height: 50px;
  }
  &__footer {
    position: absolute;
    display: block;
    bottom: 110px;
  }
}
