@import "~Styles/settings.scss";

.TrackUploader {
  width: auto;
  user-select: none;
  overflow: hidden auto;
  h5 {
    @extend %hy-form-label;
  }
  &__input__group {
    > div {
      margin: 0;
    }
    margin-bottom: 8px;
  }
  &__input {
    margin: 32px 0;
    @extend %no-padding;
    &__last {
      margin-bottom: 0;
    }
  }
}
