* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", "Helvetica Neue", sans-serif;
}

html,
body,
.switch-wrapper,
.switch-wrapper > div,
#root {
  width: 100%;
  height: 100%;
}

.hover-transition {
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  color: hsla(0, 0%, 100%, 0.6);
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
