@import "~Styles/settings.scss";

.Auth {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__tabs {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.603);
    padding: 32px;
    background: rgba(0, 0, 0, 0.801);
    &__nav {
      display: flex;
      margin-bottom: 32px;
      &__header {
        border-bottom: 2px solid transparent;
        margin-right: 16px;
        flex: 1;
        a {
          padding: 8px 16px;
          width: 100%;
          color: $color-text-darker;
          cursor: pointer;
          letter-spacing: 1px;
          transition: all 0.1s ease-in;
          text-decoration: none;
          display: block;
          &:hover {
            color: $color-text-lighter;
          }
        }
        &:last-child {
          margin: 0;
        }
        &:hover {
          border-bottom: 2px solid $color-text-lighter;
          color: $color-text-lighter;
          transition: all 0.1s ease-in;
        }
        &--active {
          transition: all 0.1s ease-in;
          border-bottom: 2px solid $color-text-lighter;
          color: $color-text-lighter;
          a {
            color: $color-text-lighter;
          }
        }
      }
    }
    &__content {
      display: block;
      min-width: 400px;
    }
  }
}
